<mat-sidenav-container fxFlex>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <mat-list-item>
        <button mat-button (click)="goToMovies()">Movies</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="goToActors()">Actors</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="goToDirectors()">Directors</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlex>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content-container">
      <div fxLayout="column" *ngIf="showMovies" fxFlex>
        <h3 class="mat-h3">Movies</h3>
        <mat-list>
          <mat-list-item *ngFor="let movie of movies" (click)="selectMovie(movie)">
            {{movie.title}}
          </mat-list-item>
        </mat-list>

        <mat-card *ngIf="selectedMovie" fxFlex>
          <mat-card-title>{{selectedMovie.title}}</mat-card-title>
          <mat-card-content fxLayout="column" fxFlex>
            <h3 class="mat-h3">{{selectedMovie.title}} Actors</h3>
            <mat-list>
              <mat-list-item *ngFor="let movieActor of movieActors">
                {{movieActor.firstName}} {{movieActor.lastName}}
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxLayout="column" *ngIf="showActors" fxFlex>
        <h3 class="mat-h3">Actors</h3>
        <div fxLayout="row">
          <mat-list>
            <mat-list-item *ngFor="let actor of actors">
              {{actor.firstName}} {{actor.lastName}}
            </mat-list-item>
          </mat-list>

          <mat-card *ngIf="selectedActor">
            <mat-card-title>{{selectedActor.firstName}} {{selectedActor.lastName}}</mat-card-title>
            <mat-card-content>
              Hello Actor
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div fxLayout="column" *ngIf="showDirectors" fxFlex>
        <h3 class="mat-h3">Directors</h3>
        <div fxLayout="row">
          <mat-list>
            <mat-list-item *ngFor="let director of directors">
              {{director.firstName}} {{director.lastName}}
            </mat-list-item>
          </mat-list>

          <mat-card *ngIf="selectedDirector">
            <mat-card-title>{{selectedDirector.firstName}} {{selectedDirector.lastName}}</mat-card-title>
            <mat-card-content>
              Hello Director
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

